<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329118923700-dt2094qs7hb9rh9936f0f2kjhbna6dhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329118923700-dt2094qs7hb9rh9936f0f2kjhbna6dhp</string>
	<key>API_KEY</key>
	<string>AIzaSyC6s_4QkVgF3-jfWncYGCGXQbgr-6FwtPs</string>
	<key>GCM_SENDER_ID</key>
	<string>329118923700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testNotificationBrick</string>
	<key>PROJECT_ID</key>
	<string>flutterpushnotification-971b2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpushnotification-971b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329118923700:ios:ab93dee9e0b495ceb810e1</string>
</dict>
</plist>